<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431213137970-52aot0n7l0dvqm2po4c7oe8enusf4qpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431213137970-52aot0n7l0dvqm2po4c7oe8enusf4qpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6DFJ60LEcTJ8tTkWcMvxUp4pLAiGyy4</string>
	<key>GCM_SENDER_ID</key>
	<string>431213137970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gatekeep.PhotoTrading</string>
	<key>PROJECT_ID</key>
	<string>phototrade-32978</string>
	<key>STORAGE_BUCKET</key>
	<string>phototrade-32978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431213137970:ios:d1644c8702c1ed762e6c2b</string>
</dict>
</plist>